:root {
--bg-circle-1: #5C3C35;
--bg-circle-2: #6E171D;
--bg-circle-3: #48322A;
--color-card-1: #5C3C35;
--color-card-2:#6E171D;
--color-card-3: #48322A;
}

.body {
   font-family: Arial, sans-serif;
   background-color: #ffffff;
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}
.card{
  width: 595px;
  height: 842px; 
  margin: 100px auto;
  background-color: #d1d1d1;
  display: grid;
  align-content: space-between;
  position: relative;
  z-index: 1;
  grid-template-rows:110px 657px 75px;
}
header {
  display: grid;
  width: 100%;
  grid-template-columns: 214px 126px 72px;
  justify-content: end;
  font-weight: 700;
}
.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: relative;
  margin: 44px auto;
}
.circle::before,
.circle::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  background-color: inherit;
}
.circle::before { top: -18px; }
.circle::after { top: 18px; }
.procent {
  font-size: 66px;
  font-weight: bold;
 display: grid;
 align-items: center;
}
.text-discount {
  font-weight: 700;
  display: grid;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 8px;
}

footer {
  grid-template-columns: 76px 1fr;
  display: grid;
  align-items: center;
  height: 75px;
  width: 100%;
  bottom: 16px;
  position: absolute;
}
.ract-grey {
  width: 478px;
  height: 654px;
  background-color: #E4E4E6;
  bottom: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}
main {
    z-index: 3;
    display: grid;
    position: relative;
    justify-content: center;
    color: #ffffff;
}
.block-lines {
  display: grid;
    gap: 15px;
    width: 100%;
    top: 288px;
    position: absolute;
    z-index: -1;
}

.line { height: 40px; }

.block-img {
 width: 448px;
 height: 657px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
display: grid;
grid-template-rows: 72px 44px 1fr;
align-items: end;
padding-left: 33px;
}
.bg-img1 {
	background-image: url('../img/d338a59795eda48954c98894289f0b35e458e96a.jpg');
}
.bg-img2 {
	background-image: url('../img/a63861ec7f9831dddc4f5c0ed662cc93a90bef09.jpg');
}
.bg-img3 {
	background-image: url('../img/af1cac7fb28b93e002f8252880e22c4cef205584.jpg');
}

img {
  width: 283px;
  height: 38px;
  display: block;
}
.fashion {
  font-size: 22px; 
  text-transform: uppercase;
  letter-spacing: 8px; 
}
.block-text {
  font-family: 'Roboto', Arial, sans-serif;
  margin-bottom: 45px;
  font-size: 14px;
}
.vert {
    display: block;
    writing-mode: sideways-lr;
    position: absolute;
    height: 410px;
    bottom: 82px;
    margin-left: 412px;
    color: #ffffffb2;
}
.www {
  margin-top: 8px;
}
.text-color1 { color: var(--color-card-1); }
.text-color2 { color: var(--color-card-2); }
.text-color3 { color: var(--color-card-3); }

.bg-color1 { background-color: var(--bg-circle-1); }
.bg-color2 { background-color: var(--bg-circle-2); }
.bg-color3 { background-color: var(--bg-circle-3); }
